.jumbotron {
    text-align: center;
}

.profileimg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    height: 250px;
    float: right;
}
.aboutmetext {
    width: 70%;
    float: left;
}