.jumbotron {
    text-align: center;
}

.profileimg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    width: auto;
    height: 300px;
    float: right;
}
.aboutmetext {
    width: 70%;
}
.name {
  font-family: cursive;
}
